{% extends 'master.html' %}


{% block title %}Andela | Hello books{% endblock title %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include '/admins/sidenav.html' %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Book Details</h1>

     <div class="media">
         <div class="media-left media-middle">
             <a href="#">
                 <img src="{{ url_for('static', filename = '/img/index.jpeg') }}" width="200" height="200">
             </a>
         </div>
         <div class="media-body">
             <h4 class="media-heading">{{ book.title}} </h4><br>
             <p style="font-weight: 100">by {{ book.first_name}}  {{ book.last_name}}</p><br>
             <p class="text-muted">Genre: {{ book.name }}</p>
             <p class="text-muted">Language: {{ book.language }}</p>
         </div>
     </div>
          <div class="media">
              <h3 class="page-header">Book Description</h3>

               {{ book.summary}}
          </div>
        </div>
      </div>
    </div>
{% endblock content %}