{% extends 'master.html' %}


{% block title %}Andela | Hello books{% endblock title %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% include '/admins/sidenav.html' %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Genre</h1>


          <div class="table-responsive">
             <form method="POST" action="{{ url_for('admin_dashboard_genre_add') }}">
                 <input type="text" name="name">
                 <input type="submit" value="Add" class="btn btn-primary">
             </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}