<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/base.css') }}">
      {% block styles %}{% endblock %}
  </head>
  <body>
        {% include 'navbar.html' %}
      {% block content %}

      {% endblock content %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename = '/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = '/js/bootstrap.min.js') }}"></script>
  </body>
</html>